.bg-penguin{
  background-color:  #FAF1E6;
}
.bg-main{
  background: #FDFAF6;
}
.bg-image{
  background-color: #E8F6EF;
}
.bg-cardsec{
  background-color:#F9F9F9;
}
.bg-footer{
  background: linear-gradient(to bottom, #e6dada, #274046);
}
.toast{
   width: 20em;
   height: 7em;
}
.card h3{
  color: orange;
}
.toast img{
  width: 2em;
}
span{
  font-size: 70px;
}
.navbar-nav a{
  font-size: 24px;
}
.navbar-nav a:hover{
  border-bottom: 4px solid rgb(16, 44, 229);
  background-color: rgb(206, 196, 196);

}
.nav button{
  border: 10px;
}
.navbar-toggler-icon{
  width: 0.5em;
  height: 0.5em;
  border:none;
 
}